

	<!-- Footer Section -->
	<footer class="footer">
		<div class="container">
			<div class="row ">

				<div class="col-md-4 col-6">
					<h2>About Us</h2>
					<ul>
						<li><a href="/about/">About Famster</a></li>
						<li><a href="/influencers/">Influencers</a></li>
						<li><a href="/brands/">Brand</a></li>						
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-6">
					<h2>Resources</h2>
					<ul>
						<li><a href="https://forms.gle/wvp7KYvsYfCD5dKp8">Try Now</a></li>
						<li><a href="https://www.famstar.in/blog/">Blog</a></li>
						<li><a href="/faq/">FAQ's</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-6">
					<h2>Get in Touch</h2>
					<p>Ph: +91 9086395818</p> 
					<p>Email: <a href="#">ria@famstar.in</a></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<div class="social">
						<a href="https://twitter.com/FamstarHq" class="twitter"><i class="bx bxl-twitter"></i></a>
						<a href="https://www.facebook.com/famstarHQ" class="facebook"><i class="bx bxl-facebook"></i></a>
						<a href="https://www.instagram.com/famstarhq/ " class="instagram"><i class="bx bxl-instagram"></i></a>
						<a href="https://www.linkedin.com/company/famstar/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center footbtm">
					<figure><img src="{{.Site.BaseURL}}/images/footlogo.png" alt="logo"></figure>
					<p>Copyright &copy; 2021 Famstar.in</p>
					<p><a href="/privacy/">Privacy Policy</a> | <a href="/terms/">Terms & Condition</a> </p>
					<p>Made with <img src="{{.Site.BaseURL}}/images/heart.png" alt=""> In India</p> 
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section -->

    {{- partial "script.html" . -}}
    
	
</body>

</html>