

	<!-- Tools Resources Section -->
	<div id="toolsection">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Tools &amp; Resources</span>
					<h3>Tools &amp; Resources</h3>
					<p>Resources to help you become savvy at leveraging influence to drive measurable
						results for your campaigns</p>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-md-6">
					<div class="toolscol h-100">
						<div class="row">
							<div class="col-md-6"><figure><img src='{{ "https://www.famstar.in/blog/content/images/size/w2000/2021/04/image-4-1.png" | absURL }}' alt=""></figure></div>
							<div class="col-md-6">
								<div class="rightcolcontent">
									<h4 class="mb-3">Top 10 Influencer marketing trends in 2021</h4>
									<p>{{ "Nowadays, influencer marketing is a hot topic and in coming years it will increase huge popularity. Every year brings new social media platforms, different trends, new types of content, and new ways to engage with the potential customers. 2021 is the year where demand for influencer marketing will surely increase and y0u can expect exciting things coming in the year. So, in this post, we are giving you details about the Top 10 Influencer marketing trends in 2021." | safeHTML | truncate 250 }}
										
										</p>
									<div class="getmore mt-3"><a class="transparentbtn1 btn-arrow" href="https://www.famstar.in/blog/top-10-influencer-marketing-trends-in-2021/">View More</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="toolscol">
						<div class="row mt-4 mt-md-0">
							<div class="col-md-6"><figure><img src='{{ "https://www.famstar.in/blog/content/images/size/w300/2021/01/prateek-katyal-xv7-GlvBLFw-unsplash.jpg" | absURL }}' alt=""></figure></div>
							<div class="col-md-6">
								<div class="rightcolcontent">
									<h4 class="mb-3">8 Easy Ways to Grow your Social Media Following</h4>
									<p>
										{{ "When it comes to social media, everyone wants to be in on the action. So many social media channels to choose from but Facebook, Instagram, Twitter, Pinterest, among others, are highly active channels. TikTok was also in-demand before the government banned it. However, everyone wants to gain followers and increase their social media presence." | safeHTML | truncate 250 }}
										
										
										</p>
									<div class="getmore mt-3"><a class="transparentbtn1 btn-arrow" href="https://www.famstar.in/blog/8-easy-ways-to-grow-your-social-media-following/">View More</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tools Resources Section -->