
	 <!-- Subscribe Section -->
     <div id="subscribesection">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 ml-auto mr-auto">
                        <form  class="row align-items-center" id="subscribeForm" >
                            <div class="col-md-6">
                                <div class="bs-example mx-auto text-center text-md-left">
                                  
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="type"
                                                id="influencerCheck" value="Influencer" checked>
                                            <label class="custom-control-label" for="influencerCheck">I am a Creator</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="type"
                                                id="brandCheck" value="Brand">
                                            <label class="custom-control-label" for="brandCheck">I am a Brand</label>
                                        </div>
                                
                                </div>
                        </div>

                        <div class="col-md-6 footer-newsletter">
                            <input type="email" id="subscriberEmail" name="email" placeholder="Enter mail"> 
                            <input type="submit" value="Subscribe" id="btnsunscribe">
                        </div>
                        
                        <div id="server-results"><!-- For server results --></div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Section Ends -->