<!-- Home Grid Section -->
<div id="gridsection" class="homegrid section">
    <div class="container">
        <div class="row section-title">
            <div class="col-md-12 text-center topblocktxt">
                <span class="blocktxt">Why Choose Us</span>
                <h3>Why Famstar?</h3>
                <p>Waste no more time in reaching out to potential customers. Connect directly with them through a network of influencers via Famstar- the best platform for influencer marketing </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rowitems">

            <div class="col-lg-6 col-md-6 ">
                <h2>Discover</h2>
                <h5>People no longer just buy goods and services. They buy stories, experiences, and magic</h5>
                <p>Find the best influencers who bring people closer to your brand. Explore our broad network of highly connected individuals and choose the ones you need. Influencer discovery helps you to find the perfect match by using filters and keywords
                    based on your preferred criteria of selection, like age, location, city, category of influencer, and much more.</p>
                <div class="bannerbtn mt-4"><a href="/brands" class="btn-arrow transparentbtn"> Know More</a></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="/images/Home2.png" alt="Home2.png">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="rowitems">
            <div class="col-lg-6 col-md-6 ">
                <img src="/images/Home3.png" alt="Home3.png">
            </div>
            <div class="col-lg-6 col-md-6 ">
                <h2>Organize</h2>
                <h5>There are exceptional ways out there to take your brand to the next level. All you have to do is find people who can do it for you.</h5>
                <p>You can now create campaigns that bring tangible results. Get everything you need to manage influencer relationships, contact information, campaign bids, and data. Use our built-in automation feature to ensure favourable responses and
                    better ROI.</p>
                <div class="bannerbtn mt-4"><a href="/brands" class="btn-arrow transparentbtn"> Know More</a></div>
            </div>

        </div>
    </div>
    <div class="container mt-5">
        <div class="rowitems">

            <div class="col-lg-6 col-md-6 ">
                <h2>Calculate</h2>
                <h5>Influencers are selling like hotcakes. They’re creating huge returns for the brands, and they’re only set to keep growing.</h5>
                <p>Get intuitive analytics of every job done right. With the help of powerful systematic computational analysis, measure everything from reach, views, social value, and conversion to ROI. The platform uses multiple ways to measure the impact
                    of your marketing efforts.</p>
                <div class="bannerbtn mt-4"><a href="/brands" class="btn-arrow transparentbtn"> Know More</a></div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <img src="/images/Home1.png" alt="Home1.png">
            </div>
        </div>
    </div>
</div>
<!-- Home Grid Section Ends -->